.slider-container {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.slider {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease, opacity 1.5s ease-in, transform 0.5s ease-in-out;
    opacity: 0;

}
.slide.next-next {
    z-index: 3;
    opacity: 1;
    top: 15%;
}

.slide.next {
    z-index: 2;
    opacity: 1;
    top: -18%;
}
.slide.active {
    z-index: 1;
    opacity: 1;
    top: 0%;

}

.slide>img {
    border-radius: 15px;
}

.slide.next.incoming>img {

    border-radius: 15px;
}

.slide.incoming {
    z-index: 4;
    top: 30%;
    opacity: 1;

}